<h1>Dog D. Dog</h1>

<div class="profile">
  <img
    src="https://hips.hearstapps.com/hmg-prod/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=1200:*"
    alt=""
    class="profile-pic"
  />
  <h3 class="head-line">About</h3>
  <p>Woof woof!</p>
  <p>
    Hi, I'm Dog. I love
    <span class="font-lightblue font-weight-600">User Interface Design.</span>
  </p>

  <h3 class="head-line">Course</h3>
  <p>Here are some courses I've taken:</p>

  <table class="custom-table" [cellSpacing]="0">
    <tr>
      <th>Course Number</th>
      <th>Course Title</th>
      <th>Semester Taken</th>
    </tr>
    <tr>
      <td colspan="3" class="text-center font-weight-600">For Credit</td>
    </tr>
    <tr>
      <td class="font-blue">6.813</td>
      <td class="font-lightblue">User Interface Design</td>
      <td class="font-lightblue">Spring 2014</td>
    </tr>
    <tr>
      <td class="font-blue">6.034</td>
      <td>Aritificial Intelligence</td>
      <td>Fall 2013</td>
    </tr>
    <tr>
      <td class="font-blue">6.006</td>
      <td>Introduction to Algorithms</td>
      <td>Fall 2013</td>
    </tr>
    <tr>
      <td colspan="3" class="text-center font-weight-600">Listener</td>
    </tr>
    <tr>
      <td class="font-lightblue">6.897</td>
      <td>Machine Learning</td>
      <td>Fall 2013</td>
    </tr>
    <tr>
      <td class="font-lightblue">6.830</td>
      <td>Database Systems</td>
      <td>Fall 2012</td>
    </tr>
  </table>

  <h3 class="head-line">Interests</h3>
  <p>I am interested <b>HCI</b>, memes, and youtube videos.</p>

  <h3 class="head-line">Submit Pet Information</h3>
  <p>
    Would love to know what kinds of pets you 'own' (you'll never own me).
    Submit below!
  </p>

  <div style="margin-top: 2px">
    <label for="name">Name:</label>
    <input type="text" name="name" />
  </div>

  <div style="margin-top: 2px">
    <label for="phylum">Phylum: </label>
    <input type="text" name="phylum" />
  </div>

  <div style="margin-top: 2px">
    <label for="gender">Gender: </label>
    <input type="text" name="gender" /> <br />
  </div>

  <button style="margin-top: 2px">Submit</button>
</div>
